@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;

}

li {
    list-style: none;
}



/* 
@media screen and (min-width: 1000px) and (max-width:1940px) {
    .navD {
        width: 100%;
        height: 102px;
        background: #111927;
    }

    .contentDesktop {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 8%;
    }

    .no-Desktop {
        display: none;
    }

    .navDesktop {
        position: relative;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 1440px;
        height: 102px;
        flex-shrink: 0;


    }

    .aNav {
        color: #FFF;

        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .imgSombreroDesktop {
        width: 80px;
        height: 43px;
        flex-shrink: 0;

    }

    .aNavDesktop {
        text-decoration: none;
        color: #FFF;

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        width: 163px;
        height: 28px;
    }

    .styleNavDesktop {
        display: inline-block;
        text-align: center;
        margin-top: 3%;



    }

    .contentEnd {
        display: inline-flex;
        justify-content: space-between;
    }

    .fixedImgDesktop {
        position: fixed;

        top: 75%;
        right: 15%;

        transform: translateY(-50%);

        z-index: 9999;
    }

    .mArticleDesktop {
        position: relative;

        top: 70%;


        transform: translateY(35%);

        z-index: 9999;
    }

    .articlePic {
        display: flex;
        justify-content: center;

    }


    .somosNosotras {
        display: flex;
        justify-content: start;
        width: 1440px;
        margin-left: 12%;
    }

    .pic2 {
        width: 644px;
        height: 607px;
    }

    .divUnidos {
        display: inline-block;

    }

    .bgSeccionesDesktop {
        background-color: #111927;
        color: #FFF;
    }

    .pFondosSomos {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 132.9%;
        /* 26.58px */
        width: 640px;
    }

    .divSomos {
        width: 790px;
        height: 432px;
        flex-shrink: 0;
        padding: 25px 63px 97px 35px;
    }

    .marginNosotras {
        margin: 2% 2% 10% 0;


    }

    .divTitulosUnidos {
        display: flex;
        justify-content: center;


    }

    .textoRojo {
        color: #AE1920;
    }

    h2 {

        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }




    .divPropuesta {
        width: 637px;
    }

    .divInspira {
        width: 647px;
    }

    .hCuatro {
        color: var(--text-extra-bold-36-px, #0E0F0F);
        text-align: center;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 132.9%;
        /* 31.896px */
    }

    .pPropuesta,
    .pInspira {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 132.9%;
        /* 31.896px */
    }

    .pInspira {
        width: 647px;
    }

    .divDosInspira {
        margin-top: 0;

    }


    .hCuatroPropuesta {
        margin-left: 10%;
        width: 259px;
        height: 32px;

    }

    .hCuatroInspira {

        width: 259px;
        height: 32px;
    }

    .marginProp {
        display: inline-flex;
        justify-content: center;
        margin-left: 20%;
    }



    .somosPropuesta {
        display: flex;
        /* Activa el flexbox */
        justify-content: space-between;
        /* Espacio entre los divs */
        align-items: flex-start;
        /* Alineación vertical arriba */
        margin-top: 8%;
        justify-content: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
        flex-wrap: wrap;
        /* Para que los elementos se ajusten cuando no haya suficiente ancho */
    }

    .marginPropuestaZ {
        display: flex;
        /* Activa el flexbox */
    }

    .divUnidosZ {
        flex: 1;
        /* Ocupa espacio disponible */


    }

    .pTextoRojo {
        color: var(--primary, #AE1920);

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 132.9%;
        /* 31.896px */
    }

    .pVision {
        color: #FFF;

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 132.9%;

    }

    /*.pic3{
    width: 550px;
height: 448px;
flex-shrink: 0;
}*/
    .divMision {
        width: 849px;
        height: 368px;
        flex-shrink: 0;
    }

    .divMisionMargin {
        padding-left: 9%;

    }

    .pMiVi {
        margin-bottom: 0;
    }

    .marginMision {
        margin-top: 5%;
    }

    .marBottonMision {
        margin-bottom: 10%;
    }

    .pClientes {
        color: var(--text-extra-bold-36-px, #0E0F0F);

        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 132.9%;
        /* 31.896px */
        padding-bottom: 5%;
    }


    .imgLiClientes {
        margin-left: 40%;
        width: 25.397px;
        height: 25px;
        flex-shrink: 0;

    }


    .bgSection {

        width: 100%;
        height: 657px;
        flex-shrink: 0;
        background: var(--secundary, #111927);
    }

    .somosFotos {
        display: flex;
        /* Activa el flexbox */
        justify-content: space-between;
        /* Espacio entre los divs */
        align-items: flex-start;
        /* Alineación vertical arriba */
        justify-content: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
        flex-wrap: wrap;



    }


 

    .colorBlanco {
        color: #FFF;

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 132.9%;
        /* 47.844px */
    }


    .textoRojoPortfolio {
        color: var(--primary, #AE1920);

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 132.9%;
    }

    .imgPortfolio{
    padding:20px
}


    .divSection {
        display: flex;
        justify-content: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
        /* Alinear los elementos en columna */
        padding: 30px;
    }


    .divUnidosImg {
        display: inline-block;
    }


.hPortfolio{
    color: #FFF;

font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 132.9%; /* 47.844px */
}


.divGaleria{
    display: flex;
  margin-left: 25%;
  padding: 20px;
}
.artEvento{
    margin-top: 5%;
}

.hEvento{
    color: #000;

font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 132.9%; /* 47.844px */
}

.hEventoRojo{
    color: var(--primary, #AE1920);
    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 132.9%;
}


.imgLiEvento{
     margin-left: 20%;
        width: 25.397px;
        height: 25px;
        flex-shrink: 0;

}

.somosEvento{
    
    display: flex;
    width: 1440px;
    margin-left: 12%;
    margin-bottom: 4%;
}

.pMarginEvento{
padding-left: 22.5%;
}

.pStyleEvento{
    color: var(--text-extra-bold-36-px, #0E0F0F);
   
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.9%; /* 31.896px */
}
.ellipseSiete{
    width: 545.709px;
height: 545.709px;

flex-shrink: 0;
width: 100%;
position: absolute;
top: 480%;
left: 14%;
transform: translate(-50%, -50%);


}

.buttonTeam{
    display: inline-flex;
    padding: 19px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
background: var(--primary, #AE1920);
text-decoration: none;
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 132.9%; /* 31.896px */
}
.buttonTeam:hover{
    color: #FFF;
}



} */